<h1>Watch movies in our site.</h1>
<div class="row">
  <div class="col-xs-12">
    <form class="form-inline" role="form">
      <div class="form-group has-warning">
        <input ng-model="search.title" type="text" class="form-control" placeholder="Search a movie" />
        <a class="btn btn-custom">
          <span><i class="glyphicon glyphicon-search"></i></span>
        </a>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="images col-xs-12">
      <li class="col-xs-3 item" ng-repeat="movie in movies | filter:search">
        <a ui-sref="details" ng-click="setActiveMovie(movie)"><img width="214" height="317" ng-src="{{movie.images[0].url ? movie.images[0].url : '/img/movie-placeholder.jpg'}}" class="img-responsive"></a>
        <p class="h6">{{movie.title}}</p>
      </li>
    </ul>
  </div>
</div>
